{{- if not (.Param "hideContentFooter") }}
<footer class="content-footer">
  {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
  {{- with ($.GetTerms $tags) }}
  <ul class="content-footer__tags">
    {{- range . }}<li><a class="u-chip" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>{{ end }}
  </ul>
  {{- end }}

  <div class="content-footer__row">
    {{- partial "content-actions.html" . }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . }}
    {{- end }}
  </div>
  {{- partial "author-card.html" . }}
  {{- partial "section-nav.html" . }}
  {{- partial "comments.html" . }}

</footer>
{{- end }}
