{{- if eq site.Language.LanguageDirection "rtl" }}
<script>document.documentElement.setAttribute("dir", "rtl");</script>
{{- end }}

{{- partial "brand-fonts.html" . }}
{{- range .Params.customCSS }}
{{- with resources.Get . }}
{{- $css := . | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
{{- end }}
{{- range .Params.customJS }}
{{- with resources.Get . }}
{{- $js := . | minify | fingerprint }}
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{- end }}
{{- end }}
{{- partial "schema.html" . }}
