{{- $projects := where (sort .RegularPages "Date" "desc") "Params.takeaway" "!=" nil -}}

{{- with $projects }}
<section class="learning" aria-labelledby="learning-h">
  <h2 class="u-rule-heading learning__h" id="learning-h">
    {{ i18n "learning_taught" | default "What each one taught me" }}
  </h2>
  <ul class="learning__list">
    {{- range . }}
    <li class="learning__item">
      <a class="learning__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="learning__note">{{ .Params.takeaway }}</span>
    </li>
    {{- end }}
  </ul>
</section>
{{- end }}
