{{- /* Fork of themes/PaperMod/partials/translation_list.html @2d2f2c6 — diff before upgrading. */ -}}
{{- if .IsTranslated -}}
{{- if (ne .Layout "search") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;·&nbsp;{{- end -}}
{{- end }}
{{- i18n "translations" | default "Translations" }}:
{{- range .Translations }}
<a href="{{ .Permalink }}">
    {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
    {{- .Language.LanguageName | emojify -}}
    {{- else }}
    {{- .Lang | title -}}
    {{- end -}}
</a>&nbsp;
{{- end }}
{{- end -}}