{{- $url := "" -}}
{{- $alt := "" -}}

{{- with .Params.cover }}
  {{- with .image }}

    {{- with $.Resources.GetMatch . }}
      {{- $url = .Permalink -}}
    {{- else }}
      {{- if eq $.Params.cover.relative true }}
        {{- $url = (path.Join $.RelPermalink .) | absURL -}}
      {{- else }}
        {{- $url = . | absURL -}}
      {{- end }}
    {{- end }}
    {{- $alt = $.Params.cover.alt | default $.Title -}}
  {{- end }}
{{- end }}

{{- if not $url }}
  {{- with .Resources.Match "gallery/*" }}
    {{- with index . 0 }}
      {{- $url = .Permalink -}}
      {{- $alt = printf "%s — %s" ($.Title | plainify) site.Title -}}
    {{- end }}
  {{- end }}
{{- end }}

{{- if not $url }}
  {{- $section := .Section | default "home" -}}
  {{- if .IsHome }}{{ $section = "home" }}{{ end -}}

  {{- if and (not .IsHome) (eq $section "home") }}
    {{- with .File }}{{ $section = .ContentBaseName }}{{ end }}
  {{- end }}
  {{- $candidate := printf "og/%s.jpg" $section -}}
  {{- if not (fileExists (printf "static/%s" $candidate)) }}
    {{- $candidate = "og/home.jpg" -}}
  {{- end }}
  {{- $url = $candidate | absURL -}}
  {{- $alt = printf "%s — %s" (.Title | plainify) site.Title -}}
{{- end }}

{{- return dict "url" $url "alt" $alt -}}
