{{- $url := "" -}}
{{- $alt := printf "%s — %s" (.Title | plainify) site.Title -}}
{{- with .Params.cover.image }}{{ with $.Resources.GetMatch . }}
  {{- $url = partial "func/og-src.html" . -}}
  {{- $alt = $.Params.cover.alt | default $.Title -}}
{{- end }}{{ end }}
{{- if not $url }}{{ with .Resources.Match "gallery/*" }}
  {{- $url = partial "func/og-src.html" (index . 0) -}}
{{- end }}{{ end }}
{{- if not $url }}
  {{- $name := .Section }}
  {{- if not $name }}{{ with .File }}{{ $name = .ContentBaseName }}{{ end }}{{ end }}
  {{- $card := printf "og/%s.jpg" $name -}}
  {{- if not (fileExists (printf "static/%s" $card)) }}{{ $card = "og/home.jpg" }}{{ end -}}
  {{- $url = $card | absURL -}}
{{- end }}
{{- return dict "url" $url "alt" $alt -}}
