{{- $pages := .RegularPages -}}
{{- $lang := site.Language.Lang -}}
{{- $default := index site.Sites 0 -}}

{{- if ne $lang $default.Language.Lang -}}

  {{- $have := slice -}}
  {{- range $pages -}}
    {{- with .File }}{{ $have = $have | append .ContentBaseName }}{{ end -}}
  {{- end -}}

  {{- with $default.GetPage (printf "/%s" .Section) -}}
    {{- range .RegularPages -}}
      {{- $base := "" -}}
      {{- with .File }}{{ $base = .ContentBaseName }}{{ end -}}
      {{- if not (in $have $base) -}}
        {{- $pages = $pages | append . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return $pages -}}
