{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" -}}
{{- $img := .Page.Resources.GetMatch $src -}}
{{- if not $img }}{{ errorf "figure: %q is not in the bundle of %s" $src .Page.File.Path }}{{ end -}}
{{- $large := $img.Resize (printf "%dx webp q82" (int (math.Min $img.Width 1600))) }}
{{- $small := $large }}
{{- if gt $img.Width 800 }}{{ $small = $img.Resize "800x webp q82" }}{{ end }}
{{- $displayW := int (math.Min $large.Width 900) }}
<figure style="--fig-w:{{ $displayW }}px">
  <img src="{{ $small.RelPermalink }}"
       {{- if gt $large.Width $small.Width }}
       srcset="{{ $small.RelPermalink }} {{ $small.Width }}w, {{ $large.RelPermalink }} {{ $large.Width }}w"
       sizes="(max-width: 768px) 100vw, {{ $displayW }}px"
       {{- end }}
       width="{{ $large.Width }}" height="{{ $large.Height }}"
       {{- if eq .Ordinal 0 }} fetchpriority="high"{{ else }} loading="lazy"{{ end }} decoding="async"
       alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ $caption | markdownify | plainify }}{{ end }}">
  {{- with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
